.top-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.create-new-group {
  font: 400 25px Inter, sans-serif;
  font-weight: bold;
  margin: 10px 30px 20px 50px;
}

.cancel-button {
  border-radius: 15px;
  border: none;
  margin: 20px 50px 20px 30px;
  padding: 15px 20px;
  font: 20px Inter, sans-serif;

  /*Button Transition*/
  transition: transform 0.1s ease;
  cursor: pointer;
}
.cancel-button:active {
  transform: scale(0.95);
}

.below-header {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
}

.group-card {
  border-radius: 36px;
  background-color: #d9d9d9;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.image-section {
  display: flex;
  gap: 20px;
}

.choose-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid lightgray;
}

.profile-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.new-image-button {
  border-radius: 30px;
  margin-top: 10px;
  padding: 10px;
  font: 400 13px Inter, sans-serif;
  border: none;

  /*Button Transition*/
  transition: transform 0.1s ease;
  cursor: pointer;
}
.new-image-button:active {
  transform: scale(0.95);
}
      
.group-card-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.character-count {
  color: grey;
  font-size: 12px;
  padding: 5px;
}

.group-name {
  padding: 10px 0px;
  font: 400 20px Inter, sans-serif;
}

.group-name-text {
  padding: 10px;
  font: 400 1px Inter, sans-serif;
  border: none;
  border-radius: 10px;
}
    
.group-details {
  padding: 10px 0px;
  font: 400 20px Inter, sans-serif;
}

.group-details-text {
  padding: 10px;
  font: 400 15px Inter, sans-serif;
  border: none;
  border-radius: 10px;
}              

.group-password {
  padding: 10px 0px;
  font: 400 20px Inter, sans-serif;
  border: none;
}

.group-password-text {
  padding: 10px;
  font: 400 15px Inter, sans-serif;
  border: none;
  border-radius: 10px;
  width: 40%;
}

.create-group-button {
  color: #fff;
  margin: 30px 0px 0px 0px;
  border-radius: 20px;
  background-color: #11a2f3;
  align-self: center;
  width: 940px;
  max-width: 60%;
  padding: 10px;
  font: 400 25px Inter, sans-serif;

  /*Button Transition*/
  transition: transform 0.1s ease;
  cursor: pointer;
  border: none;
}
.create-group-button:active {
  transform: scale(0.95);
}
